# Capacitor
www/
.capacitor/

# Android
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat

# Keystores (NEVER commit these!)
*.keystore
*.jks
